In [1]:
from nltk import word_tokenize
from nltk.corpus import stopwords, words
from nltk.corpus import wordnet as wn
from  spellchecker import SpellChecker
import wordninja
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sys import platform, path
import json
import csv
from time import time
from difflib import get_close_matches

### Load all the data

In [2]:
win_path = r"C:\Users\Anton\Desktop\projects\spell_checker\csv_imports\\"
mac_linux_path = "csv_imports/"

In [3]:
if platform == "linux" or platform == "linux2":
    path = mac_linux_path
elif platform == "darwin":
    path = mac_linux_path
elif platform == "win32":
    path = win_path
else:
    path = win_path

 query data

In [4]:
unique_words_other_df = pd.read_csv(path + "unique_words_other_ds.csv")
unique_words_from_me = pd.read_csv(path + "atoms.csv")

In [5]:
unique_words_other_df

                     New Words  unnamed_1
0                            0        NaN
1                            0        NaN
2                            0        NaN
3                            0        NaN
4                            0        NaN
...                        ...        ...
144485                   zzzio        NaN
144486                zzzirael        NaN
144487                    zzzz        NaN
144488                   zzzzz        NaN
144489  zzzzzzzzzzzzzzzzzzzzzz        NaN

[144490 rows x 2 columns]

In [6]:
unique_words_from_me

                   term
0                burset
1               herstal
2          sleepwalkers
3               curuosa
4             zooofilia
...                 ...
202502           priner
202503         toydildo
202504  rabbbitvibrator
202505             eels
202506            solly

[202507 rows x 1 columns]

In [7]:
my_difference = set(unique_words_from_me["term"].unique()).difference(set(unique_words_other_df["New Words"].unique()))
len(my_difference)

58160

In [12]:
other_difference = set(unique_words_other_df["New Words"].unique()).difference(set(unique_words_from_me["term"].unique()))

In [13]:
with open("/Users/antongigele/Desktop/python/spell_checker/csv_imports/difference.csv", "w", newline="") as outfile: 
    write = csv.writer(outfile)
    write.writerow(list(other_difference))

224